{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Nous contacter</h1>
    {{ form(contactForm) }}
{% endblock %}
